# OpenColladaResource dependencies

# standard set of extensions
darcs /extensions/OpenColladaResource        http://openengine.dk/code/branches/OpenColladaVBO

darcs-dev /extensions/OpenColladaResource    fh.daimi.au.dk:/users/cgd/code/branches/OpenColladaVBO

#data files
linux /libraries http://openengine.dk/data/libraries/opencollada-linux32.tar.gz
darwin /libraries http://openengine.dk/data/libraries/opencollada-mac64.tgz


