# OpenColladaResource dependencies

# standard set of extensions
git /extensions/OpenColladaResource        https://github.com/OpenEngineDK/extensions-OpenColladaResource.git

git-dev /extensions/OpenColladaResource    git@github.com:OpenEngineDK/extensions-OpenColladaResource.git

#data files
linux /libraries http://openengine.dk/data/libraries/opencollada-linux32.tar.gz
darwin /libraries http://openengine.dk/data/libraries/opencollada-mac64.tgz


